#leftframe, #rightframe{
  z-index: 1;
  position:absolute;
  width:50vw;
  height:100vh;
  margin:0;
  padding:0;
  border:0;
  top:0;
}

#leftframe {
  left:0;
}
#rightframe {
  right: 0;
}
#leftstatus, #rightstatus{
  z-index: 5;
  width:50vw;
  position: absolute;
  bottom: 0;
  background-color: #c0c0c0;
  font-size: 200%;
  padding:5px;
  text-align: center;
}
#leftstatus {
  left:0;
}
#rightstatus {
  right:0;
}
